﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TechData Australia - Services Web App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Following scripts are used for the Rainbow addon -->
    @Styles.Render("~/Scripts/rainbow-master/themes/css/blackboard.css")
    @Scripts.Render("~/Scripts/rainbow-master/dist/rainbow.js")
    @Scripts.Render("~/Scripts/rainbow-master/src/language/generic.js")
    @Scripts.Render("~/Scripts/rainbow-master/src/language/javascript.js")

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'13aaee93-4660-4b54-99a0-0454554851d7'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
 </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" title="Tech Data" class="links">
                    <img src="~/Content/images/tdlogo.png" align="middle" height=50 alt="Tech Data" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "Home")">
                            <span class="glyphicon glyphicon-home"></span>
                            Home
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Change Log", "ChangeLog", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Demo
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("SES Customer Portal", "SESCustomerPortal", "Demo")</li>
                        </ul>
                    </li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Demo"))
                    {
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span class="glyphicon glyphicon-cloud"></span>
                                Cloud
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("CSP - Current Invoice", "MSCSPCurrentInvoice", "Cloud")</li>
                                    <li>@Html.ActionLink("CSP - Customers", "MSCSPCustomers", "Cloud")</li>
                                    <li>@Html.ActionLink("CSP - Offer List", "MSCSPOffers", "Cloud")</li>
                                    <li>@Html.ActionLink("CSP - Rate Card", "MSCSPRateCard", "Cloud")</li>
                                    <li>@Html.ActionLink("CSP - Domain Availability Check", "MSCSPDomainAvailability", "Cloud")</li>
                                    <li>@Html.ActionLink("Microsoft Service Status", "MicrosoftServiceStatus", "Cloud")</li>
                                    <li>@Html.ActionLink("Partner Center Activity Logs", "MSCSPPartnerCenterActivityLogs", "Cloud")</li>
                                    <li>@Html.ActionLink("Partner Center to SEM Importer", "AzureCSPRISKU2SEM", "Cloud")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Partner Center to SEM Importer", "AzureCSPRISKU2SEM", "Cloud")</li>
                                }
                            </ul>
                        </li>
                        if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                    Tools
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Data Metering", "Index", "DataMetering")</li>
                                    <li>@Html.ActionLink("Backup Usage - Beta", "Index", "DPMetering")</li>
                                    <li>@Html.ActionLink("Asset Registry", "Index", "AssetReg")</li>
                                    <li>@Html.ActionLink("License Usage", "Index", "LicenseUsage")</li>
                                    <li>@Html.ActionLink("GAuth MFA Client", "GAuthMFAClient", "Cloud")</li>
                                </ul>
                            </li>
                        }
                    }

                    <li>
                        <a href="@Url.Action("Index", "Help")">
                            <span class="glyphicon glyphicon-heart"></span>
                            Help & Support
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> @Html.Encode(ViewBag.elapsedTime) seconds.</p>
            <p>&copy; @DateTime.Now.Year - TechData Australia</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
