﻿@using System.Data;
@model TDServicesApp.Models.DataMeteringModel

@if (Model != null)
{
    if (Model.error_message != null)
    {
        <h3>Error - @Model.error_message</h3>
    }
    else
    {
        <script type="text/javascript">
            var result1 = @Html.Raw(Model.DataPoints1);
            var DataPoints1 =[];
	        var i = 0;
            for (i = 0; i < result1.length; i++){
                var fdttemp = result1[i].FormattedDT;
                var fdtsplit = fdttemp.split(",");
                var fdt = new Date(fdtsplit[0], fdtsplit[1] - 1, fdtsplit[2]);
                DataPoints1.push({
                    x: fdt,
                    y: result1[i].total_inGBytes
                });
            };
            var result2 = @Html.Raw(Model.DataPoints2);
            var DataPoints2 = [];
	        var i = 0;
            for (i = 0; i < result2.length; i++){
                var fdttemp = result2[i].FormattedDT;
                var fdtsplit = fdttemp.split(",");
                var fdt = new Date(fdtsplit[0], fdtsplit[1] - 1, fdtsplit[2]);
                DataPoints2.push({
                    x: fdt,
                    y: result2[i].total_outGBytes
                });
            };
            jQuery(document).ready(function () {
                var chart = new CanvasJS.Chart("chartContainer",
                    {
                        title: {
                            text: "Daily Inbound/Outbound Usage",
                            fontWeight: "normal",
                            fontSize: 30,
                            fontFamily: "Arial"
                        },
                        toolTip: {
                            content: "{y} {name}"
                        },
                        axisX: {
                            lineColor: "#4F81BC",
                            tickColor: "#4F81BC",
                            labelFontColor: "#4F81BC",
                            titleFontColor: "#4F81BC",
                            lineThickness: 2,
                        },
                        axisY: {
                            title: "Data Transferred (GBytes)",
                            lineColor: "#C0504E",
                            tickColor: "#C0504E",
                            labelFontColor: "#C0504E",
                            titleFontColor: "#C0504E",
                            lineThickness: 2,
                        },
                        data: [{
                            type: "column",
                            name: "GBytes",
                            legendText: "Inbound",
                            showInLegend: true,
                            dataPoints: DataPoints1
                        },
                        {
                            type: "column",
                            name: "GBytes",
                            legendText: "Outbound",
                            showInLegend: true,
                            dataPoints: DataPoints2
                        }],
                    });
                chart.render();
            });
        </script>

        <h4>Debug - Timers (ms)</h4>
        <p>Total time for controller to complete - @Model.maintimerduration</p>

        <div id="chartContainer" style="height: 400px; width: 100%;"></div>

        <table id="myTable" border="1">
            <tr>
                <th>Date</th>
                <th>Inbound (GB)</th>
                <th>Outbound (GB)</th>
            </tr>
            @foreach (DataRow dr in (Model.totalUsagePerDay as DataTable).Rows)
            {
                <tr>
                    <td align="center">
                        @dr["dt"]
                    </td>
                    <td align="center">
                        @dr["total_inGBytes"]
                    </td>
                    <td align="center">
                        @dr["total_outGBytes"]
                    </td>
                </tr>
            }
        </table>
    }
}