﻿@using System.Globalization;
@model TDServicesApp.Models.DataUsageSAPExportModel

@{
    ViewBag.Title = "DataUsageSAPExport";
}

<h2>Data Usage - SAP Export</h2>

@using (Html.BeginForm())
{
    if(ViewBag.Error != null)
    {
        <h3>Error - @ViewBag.Error</h3>
    }
    <p>Select the month and year to export data for</p>
    @Html.DropDownList("Year", Enumerable.Range(DateTime.Now.Year, 10).Select(x => new SelectListItem { Text = x.ToString() }), "Year")
    @Html.DropDownList("Month", DateTimeFormatInfo.InvariantInfo.MonthNames.Where(m => !String.IsNullOrEmpty(m)).Select((monthName, index) => new SelectListItem { Text = monthName }), "Month")
    <input type="submit" />
}