﻿@model TDServicesApp.Models.DataMeteringModel
@*@model PagedList.IPagedList<TDServicesApp.Models.DataMeteringModel>*@
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Data Usage Report";
}

<h2>Data Usage Report</h2>
<p>As the results are granular (i.e. per hour) searching can take time, additionally the application may crash. If this happens reload the page, this will be addressed in a later revision.</p>

@if (Model != null)
{
    using (Html.BeginForm("DataUsageReportView", "DataMetering", FormMethod.Get))
    {
        <p>
            @*Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
            Find by keyword: @Html.TextBox("SearchString", ViewBag.currentFilter as string)
            Viewing month: @Html.TextBox("TableName", ViewBag.tableName as string, new { @readonly = "true" })
            <input type="submit" value="Search" />
        </p>
    }

    //if (Request.UrlReferrer.ToString().Contains("DataUsageReport"))
    if (Request.UrlReferrer.LocalPath.ToString().Equals("/DataMetering/DataUsageReport"))
    {
        <h4>Netflow Stats</h4>
        <p>Total netflow records - @Model.netflowrecords</p>

        <h4>Data Stats</h4>
        <p>Total TB transferred inbound - @Model.totalindata</p>
        <p>Total TB transferred outbound - @Model.totaloutdata</p>
        <p>Total TB transferred - @Model.totaldata</p>

        <h4>Debug - Timers (ms)</h4>
        <p>Total time for controller to complete - @Model.maintimerduration</p>

        <h3>General Usage Report</h3>
    }

    <table id="myTable" border="1">
        <tr>
            <th>
                IP Address
            </th>
            <th>
                Machine ID
            </th>
            <th>
                Machine Name
            </th>
            <th>
                Customer ID
            </th>
            <th>
                @*@Html.ActionLink("Customer Name", "DataUsageReportView", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })*@
                @Html.ActionLink("Customer Name", "DataUsageReportView", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, tableName = ViewBag.TableName })
            </th>
            <th>
                Contract Number
            </th>
            <th>
                Bytes (Inbound)
            </th>
            <th>
                Bytes (Outbound)
            </th>
            <th>
                Date and Time
            </th>
        </tr>
        @foreach (var item in Model.mypagedList)
        {
            <tr>
                <td>
                    @item[0]
                </td>
                <td>
                    @item[1]
                </td>
                <td>
                    @item[2]
                </td>
                <td>
                    @item[3]
                </td>
                <td>
                    @item[4]
                </td>
                <td>
                    @item[5]
                </td>
                <td>
                    @item[6]
                </td>
                <td>
                    @item[7]
                </td>
                <td>
                    @item[8]
                </td>
            </tr>
        }
    </table>
    <br />
}
Page @((Model.mypagedList as PagedList.IPagedList).PageCount < (Model.mypagedList as PagedList.IPagedList).PageNumber ? 0 : (Model.mypagedList as PagedList.IPagedList).PageNumber) of @((Model.mypagedList as PagedList.IPagedList).PageCount)

@Html.PagedListPager((Model.mypagedList as PagedList.IPagedList), page => Url.Action("DataUsageReportView", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, tableName = ViewBag.TableName }))