﻿@using System.Data;
@model TDServicesApp.Models.NetflowDBStatsModel

@{
    ViewBag.Title = "NetflowDBStats";
}

<h2>Database Stats</h2>

@if (Model != null)
{
    <h3>SQL Database Statistics</h3>
    <table id="myTable" border="1">
        <tr>
            @foreach (DataColumn dc in (Model.sqltablesize as DataTable).Columns)
            {
                <th>@dc.ColumnName</th>
            }
        </tr>
        @foreach (DataRow dr in (Model.sqltablesize as DataTable).Rows)
        {
            <tr>
                <td align="center">
                    @dr["DB Name"]
                </td>
                <td align="center">
                    @dr["File Type"]
                </td>
                <td align="center">
                    @dr["Size in GBytes"]
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>SQL Database Statistics</h3>
    <p>An error occured - @Model.queryErrorMessage</p>
}