﻿@using System.Data;
@using System.Globalization;
@model TDServicesApp.Models.DataMeteringModel

@{
    ViewBag.Title = "UsageDaily";
}

<h2>Usage per Day</h2>

@using (Ajax.BeginForm("UsageDailyReportGen", "DataMetering", new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loading",  }))
{
    <p>Select the month and year to export data for</p>
    @Html.DropDownList("Year", Enumerable.Range(DateTime.Now.Year, 1).Select(x => new SelectListItem { Text = x.ToString() }), "Year")
    @Html.DropDownList("Month", DateTimeFormatInfo.InvariantInfo.MonthNames.Where(m => !String.IsNullOrEmpty(m)).Select((monthName, index) => new SelectListItem { Text = monthName }), "Month")
    <input type="submit" />
    <br />
}

<div id="loading" style="display:none;">
    <h3><img src="~/Content/images/ajax-loader.gif" />Generating Report... This will take a few minutes.</h3>
</div>
<div id="result" style=""></div>