﻿@using System.Data;
@using System.Globalization;
@model TDServicesApp.Models.DataMeteringModel

@{
    ViewBag.Title = "Device Usage per Day";
}

@if (Model != null)
{
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
    <script type="text/javascript">
        var result1 = @Html.Raw(ViewBag.DataPoints1);
        var DataPoints1 =[];
	    var i = 0;
        for (i = 0; i < result1.length; i++){
            var fdttemp = result1[i].FormattedDT;
            var fdtsplit = fdttemp.split(",");
            var fdt = new Date(fdtsplit[0], fdtsplit[1] - 1, fdtsplit[2],fdtsplit[3]);
            DataPoints1.push({
                x: fdt,
                y: result1[i].total_inGBytes
            });
        };
        var result2 = @Html.Raw(ViewBag.DataPoints2);
        var DataPoints2 =[];
	    var i = 0;
        for (i = 0; i < result2.length; i++){
            var fdttemp = result2[i].FormattedDT;
            var fdtsplit = fdttemp.split(",");
            var fdt = new Date(fdtsplit[0], fdtsplit[1] - 1, fdtsplit[2],fdtsplit[3]);
            DataPoints2.push({
                x: fdt,
                y: result2[i].total_outGBytes
            });
        };
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    title: {
                        text: "Daily data usage for @Model.DeviceName for @Model.CustomerName",
                        fontWeight: "normal",
                        fontSize: 30,
                        fontFamily: "Arial"
                    },
                    toolTip: {
                        content: "{y} {name} | {x} {value}",
                        animationEnabled: true
                    },
                    axisX: {
                        lineColor: "#4F81BC",
                        tickColor: "#4F81BC",
                        labelFontColor: "#4F81BC",
                        titleFontColor: "#4F81BC",
                        lineThickness: 2,
                    },
                    axisY: {
                        title: "Data Transferred (GBytes)",
                        lineColor: "#C0504E",
                        tickColor: "#C0504E",
                        labelFontColor: "#C0504E",
                        titleFontColor: "#C0504E",
                        lineThickness: 2,
                    },
                    data: [{
                        type: "column",
                        name: "GBytes",
                        legendText: "Inbound",
                        showInLegend: true,
                        dataPoints: DataPoints1
                    },
                    {
                        type: "column",
                        name: "GBytes",
                        legendText: "Outbound",
                        showInLegend: true,
                        dataPoints: DataPoints2
                    }],
                });
            chart.render();
        }
    </script>

    <table>
        <tr>
            @foreach (DataColumn dc in (Model.deviceDailyUsage as DataTable).Columns)
            {
                <th>@dc.ColumnName</th>
            }
        </tr>
        @foreach (DataRow dr in (Model.deviceDailyUsage as DataTable).Rows)
        {
            <tr>
                <td align="center">
                    @dr["dt"]
                </td>
                <td align="center">
                    @dr["Machine Name"]
                </td>
                <td align="center">
                    @dr["total_inGBytes"]
                </td>
                <td align="center">
                    @dr["total_outGBytes"]
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Something happened and we are not able to display the data.</p>
}