﻿@using System.Data;
@model TDServicesApp.Models.SCMProcessorView

@using (Html.BeginForm("AzureCSPRISKU2SEM", "Cloud", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.regionSelected)
    <br />
    <h4>Step 2</h4>
    string ri_file_header = "Azure RI CSP Commercial Price List - " + @Model.Month + "," + @Model.Day + " " + @Model.Year + ".xlsx";
    string office_file_header = @Model.Month + " " + @Model.Year + " " + "Cloud Reseller Pricelist.xlsx";
    string ri_file_title = "Look for the file called " + ri_file_header;
    string office_file_title = "Look for the file called " + office_file_header;
    <p>RI File (The file you are looking for will look like @ri_file_header) @Html.TextBoxFor(model => model.RI_file, new { type = "file", name = "RI_File", title = ri_file_title }) @Html.ValidationMessageFor(model => model.RI_file)</p>
    <p>Office File (The file you are looking for will look like @office_file_header) @Html.TextBoxFor(model => model.Office_file, new { type = "file", name = "Office_File", title = @office_file_title }) @Html.ValidationMessageFor(model => model.Office_file)</p>
    @*<p>RI File <input type="file" name="RI_File" /></p>
    <p>Office File <input type="file" name="Office_File" /></p>*@
    <br />
    <h4>Step 3</h4>
    foreach (DataRow row in Model.currencyList.Rows)
    {
        Model.currencyRate_Live = @row["Rate"].ToString();
        @Html.HiddenFor(model => model.currencyRate_Live);
        <p>Live Currency Rate for @row["CurrencyName"] (@row["CurrencyNameISO"]) - @row["Rate"].ToString() (Rate obtained via Yahoo Finance)</p>
        @*<p>Currency Conversion Rate for @row["CurrencyName"] (@row["CurrencyNameISO"]) @Html.TextBoxFor(model => model.currencyRate_User, new { @name = "currencyNameLookup_"+@row["CurrencyName"], @id = "currencyNameLookup_"+@row["CurrencyName"] })</p>*@
        <p>Currency Conversion Rate for @row["CurrencyName"] (@row["CurrencyNameISO"]) <input type="text" name="currencyNameLookup_@row["CurrencyName"]" id="currencyNameLookup_@row["CurrencyName"]" title = "If this field isnt filled out, we will use the currency rate of 1 USD to @row["Rate"].ToString() VND"/></p>
    }
    <br />
    <h4>Step 4</h4>
    <p>Generate SEM import file <input type="submit" name="Submit" id="Submit" value="Upload" /></p>
}