﻿@using System.Data;
@model TDServicesApp.Models.SCMProcessorView

@{
    ViewBag.Title = "AzureCSPRISKU2SEM";
}

<style>
    #div_loading_image {
        display: none;
        position: inherit;
        background: rgba(255, 255, 255, .5);
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
    }
</style>

<script>
    $(document).ready(function () {
        /* This is change event for your dropdownlist */
        $('#regionSelect_ddl').change(function () {
            $('#regionSelect_ddl').hide();
            $('#div_loading_image').show();
            /* Get the selected value of dropdownlist */
            var selectedRegionId = $('#regionSelect_ddl').val();
            var selectedRegionName = $('#regionSelect_ddl :selected').text();

            var url = '@Url.Action("RegionViewUpdate", "Cloud")' + "?selectedRegionName=" + selectedRegionName;
            var viewModel = { regionSelected: selectedRegionName };

            /* Request the partial view with .get request. */
            $.get(url, viewModel, function (data) {
                $('#div_loading_image').hide();
                $('#regionSelect_ddl').show();
                /* data is the pure html returned from action method, load it to your page */
                $('#partialPlaceHolder').html(data);
                /* little fade in effect */
                $('#partialPlaceHolder').fadeIn('fast');
            });
        });
    });
</script>

<h3>Partner Center to SCM Importer</h3>
<img src="~/Content/images/4simplesteps.png" />
<h4>Step 1</h4>@Html.DropDownList("regionSelect_ddl", Model.regionSelection, "--Select Region--")
@*@Html.DropDownListFor(m => m.regionSelected, Model.regionSelection, "--Select Region--", new { @id = "regionSelect_ddl", @class = "regionSelect_ddl" })*@

<div id="div_loading_image"><img id="loading_image" src="~/Content/images/ajax-loader.gif" /></div>
<div id="partialPlaceHolder" style="display:none;"> </div>
<br />
<br />
@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error.ToString()</p>
}