﻿@using System.Data;
@model TDServicesApp.Models.GAuthMFAClientView

@{
    ViewBag.Title = "GAuthMFTClient";
}

<script>
    var dt = '@Model.remainingTime';
    var dateAr = dt.split('-');
    var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];

    var end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
        var now = new Date();
        var distance = end - now;
        if (distance < 0) {
            clearInterval(timer);
            document.getElementById('timecountdown').innerHTML = 'Refreshing codes!';
            window.location.reload();

            return;
        }
        var days = Math.floor(distance / _day);
        var _hours = Math.floor((distance % _day) / _hour);
        var _minutes = Math.floor((distance % _hour) / _minute);
        var _seconds = Math.floor((distance % _minute) / _second);

        //document.getElementById('timecountdown').innerHTML = ' Hrs: ' + _hours;
        //document.getElementById('timecountdown').innerHTML += ' Mins: ' + _minutes;
        //document.getElementById('timecountdown').innerHTML += ' Secs: ' + _seconds;
        document.getElementById('timecountdown').innerHTML = ' Seconds left untill code refresh: ' + _seconds;
    }
    timer = setInterval(showRemaining, 1000);
</script>

<style>
    #fancytable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #fancytable td, #fancytable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #fancytable tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #fancytable tr:hover {
            background-color: #ddd;
        }

        #fancytable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }
</style>

<h3>MFA Client</h3>
@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error.ToString()</p>
}
else
{
    <div class="float-left">
        <h4 id="timecountdown"></h4>
    </div>
    <table id="fancytable" border="1">
        <tr>
            @foreach (DataColumn dc in (Model.mfaList_View as DataTable).Columns)
            {
                <th>@dc.ColumnName</th>
            }
        </tr>
        @foreach (DataRow dr in (Model.mfaList_View as DataTable).Rows)
        {
            <tr>
                @foreach (var data in dr.ItemArray)
                {
                    <td align="center">
                        @data
                    </td>
                }
            </tr>
        }
    </table>
}
