﻿@using System.Data;
@model TDServicesApp.Models.OfferView

@{
    ViewBag.Title = "MS CSP Partner Center Activity Logs";
}

<h2>MS CSP Partner Center Activity Logs</h2>
<table id="myTable" border="1">
    <tr>
        @foreach (DataColumn dc in (Model.CSPActivityLog as DataTable).Columns)
            {
            <th>@dc.ColumnName</th>
        }
    </tr>
    @foreach (DataRow dr in (Model.CSPActivityLog as DataTable).Rows)
    {
        <tr>
            @foreach (var data in dr.ItemArray)
            {
                <td align="center">
                    @data
                </td>
            }
        </tr>
    }
</table>