﻿@using System.Data;
@model TDServicesApp.Models.OfferView

@{
    ViewBag.Title = "Azure CSP Offers";
}

<h2>Azure CSP Offers</h2>
<p>Total offers - @Model.offerCount</p>
<p>Offers obtained on - @Model.getDate</p>
<table id="myTable" border="1">
    <tr>
        @foreach (DataColumn dc in (Model.offerTable as DataTable).Columns)
            {
            <th>@dc.ColumnName</th>
        }
    </tr>
    @foreach (DataRow dr in (Model.offerTable as DataTable).Rows)
    {
        <tr>
            @foreach (var data in dr.ItemArray)
            {
                <td align="center">
                    @data
                </td>
            }
        </tr>
    }
</table>



