﻿@using System.Data;
@model TDServicesApp.Models.OfferView

@{
    ViewBag.Title = "Azure CSP Current Invoice";
}

<!-- JS -->
<script type="text/javascript">
    $(document).ready(function ($) {
        $('#accordion').find('.accordion-toggle').click(function () {

            //Expand or collapse this panel
            $(this).next().slideToggle('fast');

            //Hide the other panels
            $(".accordion-content").not($(this).next()).slideUp('fast');

        });
    });
</script>

<!-- CSS -->
<style>
    .accordion-toggle {
        cursor: pointer;
    }
    .accordion-content {
        display: none;
    }
    .accordion-content.default {
        display: block;
    }
</style>

<h2>Summary</h2>
<p>Total Office 365 Usage Items - @Model.officeUsage_itemCount</p>
<p>Total Azure Usage Items - @Model.azureUsage_itemCount</p>
<p>Total Azure Daily Usage Items - @Model.azureDailyUsage_itemCount</p>
<p>Cost Breakdown</p>
<p>Total Charges - @Model.currentCharges</p>
<p>Total Azure - $@Model.azureCosts (AUD)</p>
<p>Total Azure (Internal Use) - $@Model.internalUseAzureCosts (AUD)</p>
<p>Total Office - $@Model.officeCosts (AUD)</p>
<div id="accordion">
    <h2 class="accordion-toggle">Office 365 Usage</h2>
    <div class="accordion-content default">
        <table id="myTable" border="1">
            <tr>
                @foreach (DataColumn dc in (Model.officeLineItems as DataTable).Columns)
        {
            <th>@dc.ColumnName</th>
            }
            </tr>
            @foreach (DataRow dr in (Model.officeLineItems as DataTable).Rows)
        {
        <tr>
            @foreach (var data in dr.ItemArray)
            {
                <td align="center">
                    @data
                </td>
                }
        </tr>
        }
        </table>
    </div>
    <h2 class="accordion-toggle">Azure Usage</h2>
    <div class="accordion-content default">
        <table id="myTable" border="1">
            <tr>
                @foreach (DataColumn dc in (Model.azureLineItems as DataTable).Columns)
            {
            <th>@dc.ColumnName</th>
            }
            </tr>
            @foreach (DataRow dr in (Model.azureLineItems as DataTable).Rows)
            {
        <tr>
            @foreach (var data in dr.ItemArray)
                {
                <td align="center">
                    @data
                </td>
                }
        </tr>
        }
        </table>
    </div>
    <h2 class="accordion-toggle">Azure Daily Usage</h2>
    <div class="accordion-content default">
        <table id="myTable" border="1">
            <tr>
                @foreach (DataColumn dc in (Model.azureDailyLineItems as DataTable).Columns)
        {
            <th>@dc.ColumnName</th>
            }
            </tr>
            @foreach (DataRow dr in (Model.azureDailyLineItems as DataTable).Rows)
        {
        <tr>
            @foreach (var data in dr.ItemArray)
            {
                <td align="center">
                    @data
                </td>
                }
        </tr>
        }
        </table>
    </div>
</div>