﻿@{
    ViewBag.Title = "Data Protection Metering Page";
}

<h1>Data Protection Reports Navigation</h1>
<p>Use the menu on the left to navigate to corresponding pages.</p>
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

<!-- Used for jQuery dropdown menu's -->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js" type="text/javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<div class="row">
    <div class="col-md-4">
        <h4>Job Stats</h4>
        @if (ViewBag.error != null)
        {
            <p>An error occured - @ViewBag.error</p>
        }
        else
        {
            <p>Total Jobs - @ViewBag.VeeamJobCount</p>
            <p>Total Backup Jobs - @ViewBag.VeeamBackupJobCount</p>
            <p>Total Replica Jobs - @ViewBag.VeeamReplicaJobCount</p>
            <p>Total Other Jobs - @ViewBag.VeeamOtherJobCount </p>
            <p>Jobs with bad names - @ViewBag.VeeamBadJobNames</p>
            <p>Jobs with no sources configured - @ViewBag.VeeamBadJobs</p>
            <p>Space used by jobs - @ViewBag.VeeamStorageUsed TB</p>
        }
    </div>
</div>