﻿@model TDServicesApp.Models.CustomersModel
@{
    ViewBag.Title = "AddEditCustomer";
}

<h2>Modify Customer Details</h2>
<hr />
@using (Html.BeginForm("AddEditCustomer", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))  //FORM
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    //@Html.HiddenFor(mdl => mdl.IsNew)

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerNumber, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CustomerNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.CustomerNumber, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-6">
            @Html.Label("Credentials")
            @if (Model != null)
            {
                <table class="table table-striped table-bordered" id="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password </th>
                            <th>Edit user</th>
                            <th>Delete user</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.Password</td>
                                    <td><a href="@Url.Action("EditUser","AssetReg",new { userNum = item.UserNumber })">Edit user</a></td>
                                    <td><a href="@Url.Action("DeleteUser","AssetReg",new { userNum = item.UserNumber })">Delete user</a></td>
                                           
                                </tr>
                            }
                            }
                        </tbody>
                </table>
            }
        </div>
    </div>

    <div class="form-group">
        <a href="@Url.Action("AddNewUser","AssetReg", new { cusNumber = Model.CustomerNumber })">add new user</a>
    </div>
    <br />
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Save Changes" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}