﻿@model TDServicesApp.Models.AddEditMachineModel
@{
    ViewBag.Title = "AddMachine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modify Machine Details</h2>
<hr />

@using (Html.BeginForm("AddEditMachine", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });
    @Html.HiddenFor(model => model.IsNew)

    <div class="form-group">
        @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
        @{
            if (Model.IsNew)
            {
                @Html.EditorFor(model => model.MachineID, new { htmlAttributes = new { @class = "form-control" } })
            }
            else
            {
                @Html.EditorFor(model => model.MachineID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            }
        }
        @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Machine_Name, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Machine_Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Machine_Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })<br />
        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @name = "CommentTxt", @id = "CommentTxt", @rows = 6, @cols = 40 })
        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HostMachines, htmlAttributes: new { @class = "control-label" })

        @Html.DropDownList("HostName",
                                        new SelectList(Model.HostMachines, "HostMachine", "HostMachine", Model.HostName), "--Select--",
                                        new { @class = "form-control Host-dropdown", id = "Host-DropDown" }
                                        )
        @Html.ValidationMessageFor(model => model.HostMachines, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @{
            if (!(Model.IsVirtualMachine == true || Model.IsVirtualServer == true))
            {
                @Html.LabelFor(model => model.PowerRails, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("PowRail",
                            new SelectList(Model.PowerRails, "PowerRail", "PowerRail", Model.PowRail), "--Select--",
                            new { @class = "form-control Powerrail-dropdown", id = "Powerrail-DropDown" }
                            )
                @Html.ValidationMessageFor(model => model.PowerRails, "", new { @class = "text-danger" })
            }
        }
    </div>

    <div class="form-group">
        @{
            if (!(Model.IsVirtualMachine == true || Model.IsVirtualServer == true))
            {
                @Html.LabelFor(model => model.Racks, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("Rak",
                            new SelectList(Model.Racks, "Rack", "Rack", Model.Rak), "--Select--",
                            new { @class = "form-control Rack-dropdown", id = "Rack-DropDown" }
                            )
                @Html.ValidationMessageFor(model => model.Racks, "", new { @class = "text-danger" })

            }
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VlanID, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.VlanID, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.VlanID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataCenters, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("DataCenterName",
                            new SelectList(Model.DataCenters, "DataCenterName", "DataCenterName", Model.DataCenterName), "--Select--",
                            new { @class = "form-control DataCenter-dropdown", id = "DataCenter-DropDown" }
                            )
        @Html.ValidationMessageFor(model => model.DataCenters, "", new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-6">
            @Html.Label("Interfaces")
            @if (Model != null)
            {
                <table class="table table-striped table-bordered" id="table">
                    <thead>
                        <tr>
                            <th>Interface</th>
                            <th>IPAddress </th>
                            <th>Remove Interface</th>
                            <th>Edit Interface</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.InterfaceNames)
                    {
                        <tr>
                            <td>@item.InterfaceName</td>
                            <td>
                                <div class="col-lg-10" id="ipDropdown">

                                        @if(item.IPList.Any())
                                        {
                                            @Html.DropDownList(
                                                                "SelectedIp",
                                                                new SelectList(item.IPList, "IPAddress", "IPAddress"), "--Select--",
                                                                new { @class = "form-control ipAddress-dropdown", id = "ipAddress-dropdown" })
                                        }
                                </div>
                            </td>

                            <td><a href="@Url.Action("DeleteInterface", "AssetReg", new { interId = item.InterfaceID })">Remove interface</a></td>
                            <td><a href="@Url.Action("EditInterface", "AssetReg", new { interId = item.InterfaceID })">Edit interface</a></td>
                                                       
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="form-group">
        <a href="@Url.Action("AddInterface","AssetReg", new { machineId = Model.MachineID })">Add Interface</a>
    </div>
    <br />
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Save Changes" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



