﻿@model TDServicesApp.Models.AddIPViewModel
@{
    ViewBag.Title = "AddIP";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".SubnetType-dropdown").change(function () {
            var selectedIPSubType = $(this).val();
            var d = $("#IPsubnet-DropDown");
            if (selectedIPSubType != null) {
                $.get("@Url.Action("GetIPSubnet","AssetReg")" + "?ipsubType=" + selectedIPSubType + "", function (data)
                {
                    if (data && data.length > 0)
                    {
                        d.html("");
                        var sel = $("<option value='" + "" + "'>" + "--Select--" + "</option >");
                        d.append(sel);

                        for (var i = 0; i < data.length; i++) {

                            var option = $("<option value='" + data[i].IPSubnetID + "'>" + data[i].IPSubnetID + "</option >");
                            d.append(option);
                        }
                    }
                }).fail(function () {
                    alert("Error!");
                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".IPsubnet-dropdown").change(function () {
            var selectedIPSubnet = $(this).val();
            var obj = $("#IPAddress-DropDown");
            if (selectedIPSubnet != null) {
                $.get("@Url.Action("GetUnmappedIP","AssetReg")" + "?ipsubID=" + selectedIPSubnet + "", function (data) {
                    if (data && data.length > 0) {
                        obj.html("");   //clear dropdownlist
                        var select = $("<option value='" + "" + "'>" + "--Select--" + "</option >");
                        obj.append(select);

                        for (var i = 0; i < data.length; i++) {

                            var opt = $("<option value='" + data[i].IPAddress + "'>" + data[i].IPAddress + "</option >");
                            obj.append(opt);
                        }
                    }
                }).fail(function () {
                    alert("Error!");
                });
            }
        });
    });
</script>

<h2>Create a new IP</h2>
<hr />

@using (Html.BeginForm("AddIP", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });

    <div>
        @Html.HiddenFor(model => model.InterfaceID)
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.SelectedSubnetType, htmlAttributes: new { @class = "control-label" })

        @Html.DropDownList("SelectedSubnetType",
                                new SelectList(Model.SubnetTypes, "IPSubType", "IPSubType"), "--Select--",
                                new { @class = "form-control SubnetType-dropdown", id = "SubnetType-DropDown" }
                                )
        @Html.ValidationMessageFor(model => model.SelectedSubnetType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("IpLists", htmlAttributes: new { @class = "control-label" })

        @Html.DropDownList("IpLists",
                                Enumerable.Empty<SelectListItem>(), "--Select--",
                                new { @class = "form-control IPsubnet-dropdown", id = "IPsubnet-DropDown" }
                                )
        @Html.ValidationMessage("IpLists", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">

        @Html.Label("UnMappedIPs", htmlAttributes: new { @class = "control-label" })

        @Html.DropDownList("UnMappedIPs",
                            Enumerable.Empty<SelectListItem>(), "--Select--",
                            new { @class = "form-control IPAddress-dropdown", id = "IPAddress-DropDown" }
                            )
        @Html.ValidationMessage("UnMappedIPs", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MappedIP, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.MappedIP, new { htmlAttributes = new { @class = "form-control", id = "MappedIPText" } })
        @Html.ValidationMessageFor(model => model.MappedIP, "", new { @class = "text-danger" })
    </div>
    <br />
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Create" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}