﻿@model TDServicesApp.Models.AddUserViewModel
@{
    ViewBag.Title = "AddNewUser";
}

<h2>Create a new user</h2>
<hr />

@using (Html.BeginForm("AddNewUser", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))  //FORM
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerNumber, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CustomerNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.CustomerNumber, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control"} })
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control"} })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <br />
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Create" />
    </div>
}