﻿@model TDServicesApp.Models.AssetRegObjects._User
@{
    ViewBag.Title = "DeleteUser";
}

<h2>Are you sure you want to delete this user?</h2>
<hr />

@using (Html.BeginForm("DeleteUser", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });

    <div>
        @Html.HiddenFor(model => model.UserNumber)
    </div>

    <div>
        @Html.HiddenFor(model => model.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <br />
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Delete" />
    </div>

}



