﻿@model TDServicesApp.Models.DeleteIpViewModel
@{
    ViewBag.Title = "DeleteIP";
}

<h2>Are you sure you want to delete this IP Address?</h2>
<hr />
<br />

@using (Html.BeginForm("DeleteIP", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });

    <div class="form-group">
        @Html.LabelFor(model => model.IPAddress, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.IPAddress, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.IPAddress, "", new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default " value="Delete" />
    </div>
}