﻿@model TDServicesApp.Models.DeleteInterfaceViewModel
@{
    ViewBag.Title = "DeleteInterface";
}

<h2>Are you sure you want to delete this interface?</h2>
<hr />

@using (Html.BeginForm("DeleteInterface", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "DeleteInterForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });

    <div class="form-group">
        @Html.LabelFor(model => model.InterfaceName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.InterfaceName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.InterfaceName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <p>
            @Html.LabelFor(model => model.IpAddresses, htmlAttributes: new { @class = "control-label" })
        </p>
        @{ 
            if(Model.IpAddresses != null)
            {
                foreach (var item in Model.IpAddresses)
                {
                    <p>@item.IPAddress</p>
                }
            }
        }
    </div>

    <div>
        @Html.HiddenFor(model => model.InterfaceID)
    </div>
    <div>
        @Html.HiddenFor(model => model.MachineID)
    </div>

    <br />
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Delete" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






