﻿@model TDServicesApp.Models.AssetRegObjects._User
@{
    ViewBag.Title = "EditUser";
}

<h2>Edit User</h2>
<hr />

@using (Html.BeginForm("EditUser", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });

    <div>
        @Html.HiddenFor(Model => Model.UserNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <br />
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="save changes" />
    </div>

}

