﻿@model TDServicesApp.Models.EditInterfaceViewModel
@{
    ViewBag.Title = "EditInterface";
}

<h2>EditInterface</h2>
<hr />

@using (Html.BeginForm("EditInterface", "AssetReg", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });

    <div class="form-group">
        @Html.LabelFor(model => model.InterfaceName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.InterfaceName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.InterfaceName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <p>
            @Html.Label("Select each IP you want to delete:")
        </p>
        @{
            if (Model.IpAddresses != null)
            {
                foreach (var item in Model.IpAddresses)
                {
                    <p>
                        <a href="@Url.Action("DeleteIP","AssetReg",new { ipAddress = item.IPAddress })">@item.IPAddress</a>
                    </p>
                }
            }
        }
    </div>

    <div>
        @Html.HiddenFor(model => model.InterfaceID)
    </div>
    <div>
        @Html.HiddenFor(model => model.MachineID)
    </div>
    <div>
        <p>
            <a href="@Url.Action("AddIP","AssetReg",new { interID = Model.InterfaceID })">Add IPAddress</a>
        </p>
    </div>

    <br />
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Return" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





