﻿@model TDServicesApp.Models.SearchMachineModel
@{
    ViewBag.Title = "Machine Search";
}

<h2>Machine Search</h2>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("SearchMachine", "AssetReg", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="input-group">
                @Html.TextBoxFor(mdl => mdl.SearchPhrase, new { @class = "form-control", placeholder = "Search by Machine Name ..." })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Serach</button>
                </span>
            </div>
        }
    </div>
</div>

<div class="row largeSpacer">
    <div class="col-md-6">
        @{
            if (Model != null)
            {
                foreach (var item in Model.Machines)
                {
                    if (!string.IsNullOrEmpty(item.Machine_Name))
                    {
                        <p>
                            <a href="@Url.Action("AddEditMachine", "AssetReg", new { machineName = item.Machine_Name })">@item.Machine_Name</a>
                        </p>
                    }
                    else
                    {
                        if (!Model.IsFirstRun)
                        {
                            <p>
                                No Machine Was Found!
                            </p>
                        }
                    }
                }
                if (Model.Machines.Count == 0)
                {
                    <p>
                        No Machine Was Found!
                    </p>
                }
            }
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}