﻿@{
    ViewBag.Title = "Function Testing";
}

<h1>Function Testing</h1>
@using (Html.BeginForm("LogTesting", "Manage"))
{
    <h4>Event Logging</h4>
    <p>Click the button to test log4net logging.</p>
    <p>This test will log an event to SQL with test data for an exception fault and custom metrics.</p>
    <p>You will need to check the last entry in the --TABLENAME-- to verify operation.</p>
    <p>After clicking, the function will attempt a divide by zero function and then fowrard you to the generic Error page.</p>
    <input type="submit" value="Start Log Test" />
}
<br />
@using (Html.BeginForm("StatusCheckAPI", "Manage"))
{
    <h4>API Listerner</h4>
    <p>This test will confirm weather the internal WebAPI platform is functioning correctly.</p>
    <p>Test test vill perfomr a GET operations on --APIENDPOINT--.</p>
    <p>The status of the test will be shown below after runnig the test.</p>
    <input type="submit" value="Start API Test" />
    if (ViewBag.Status != null)
    {
        <p>API Status - @ViewBag.Status</p>
    }
}
