﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<h4>Some interesting statistics about this app;</h4>
<p>Approximately 160 hours has been spent on development, which comprises of</p>
<ul>
    <li>10+ hours on documentation</li>
    <li>~10 hours research and discovery</li>
    <li>100 hours on pure development</li>
    <li>40+ hours on testing</li>
</ul>
<p>This app has gone through;</p>
<ul>
    <li>100+ code commits</li>
    <li>3 major rewrites, i.e. 3 versions</li>
    <li>Is still in Alpha stage</li>
</ul>
<br />
<h4>NuGet Extensions Used</h4>
<code>
    StopWatch<br />
    PagedList.MVC<br />
</code>
<h4>JS Extenstions Used</h4>
<code>
    jQuery<br />
    Respond<br />
    html5shiv<br />
    Bootstrap<br />
    CanvasJS<br />
</code>