﻿@{
    ViewBag.Title = "Change Log";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>In Progress</h3>
<code>
    Review role based security against controller access<br />
    Auto select current year and month on year/month dropdown menus<br />
</code>

<h3>To-Do Items</h3>
<code>
    Finish implementing Testing functions in Manage controller<br />
    Correct date and time information shown in DataMetering from UTC to Australian timezone<br />
    Move pagination from DataUsageReportView to TSQL stored proceadure to reduce memory consumption<br />
</code>

<h3>Waiting Items</h3>
<code>
    Remove Customer Name and Customer ID fields from Users table<br />
    Add Customer Name field to UserCustIds table<br />
</code>

<h3>Feature Requests</h3>
<code>
    Customer login and review of data stats per day, including historical records<br />
    IN PROGRESS - V2 - User tracking and logging<br />
    IN PROGRESS - V2 - Backup data reporting<br />
    V2 - Add new user table for customer UID to ClientID in asset register (enable per user filtering)<br />
    V2 - Need to complete specific views for customer and reseller<br />
    COMPLETED - V2 - Run report generation scripts on SQL via scheduled job rather than on demand to speed up report display time on View<br />
</code>

<h3>Completed Items</h3>
<code>
    ASP.Net Users Integration, need to enable EF DB migrations and add roles<br />
    Added in full user name display in _LoginPartial.cshtml via GlobalController reference<br />
    Add roles into ASP.Net users context, Admin, Reseller, Customer<br />
    Added Role and User administration to web app and completed ASP.Net Identity2 installation<br />
    Removed MySQL Nuget package<br />
    Removed import controllers from DataMeteringController<br />
    Modified DataUsageReport controller to utilise Stored Proceadure calls, removed all residual logic code.<br />
    Migration of aggregated customer stats for data transit into SQL from C#<br />
    Complete CSV SAP export function based on new SQL stored proceadures<br />
    Apply month selector for reports under DataMetering controller<br />
    Implemented CanvasJS to support graphing of data<br />
    Added in dual personality bar graph for daily data view<br />
    Added per customer breakdown for month selected<br />
    Add in Month and Year drop down lists for usage view pages<br />
    Change DailyUsage view to include AJAX Async handler for data computation on SQL backend, main UI thread for site released which processing is completed.<br />
    Added new controllers into DataMetering to handle Async calls and dynamic model generation for DailyUsage partial view.<br />
    Added PartialView into DailyUsage view to contain generated report details, modified JavaScript for Charts.JS to function as JQuery script rather than JavaScript.<br />
    Added in new Layout file to handle compatibility issues between MVC Ajax and JQuery Unobtrusive extentions<br />
    Modified CustomerUsageDaily controller function to use new Layout file without JQuery included.<br />
    Modified DataUsageReport functions in controller and view to redirect to DataUsageReportView which includes search, sort and pagenation ability.<br />
    Customised DataMeteringModel model to contain new attributes used by search, sort and pagenation functions in DataUsageReportView<br />
    Cleaned up DataMeteringModel classes.<br />
    Added in new classes in DataMeteringModel and in DataMeteringController to added customer based filtering for DataUsageReport method.<br />
    Removed MySQL model and controller references.<br />
    Adjusted CustomerUsage view to contain total_GBytes fields.<br />
    Added Bandwidth Usage and Data Usage Forecaster inside index view for DataMetering<br />
    Added in AssetRegistryWeb project code into application<br />
    Modified connectors and cleaned up controllers and models<br />
    Modified JQuery classes used to submit dynamic data between controller in RDP pages<br />
    Updated all NuGet packages to latest versions (02/11/2017)<br />
    Installed the following NuGet packages for Owin and CORS -  Microsoft.Owin.Cors, Microsoft.AspNet.WebApi.Owin<br />
    Implemented API controller for LicenseUsageAPI<br />
    Added in Microsoft.AspNet.WebApi.HelpPage NuGet package for embedded Help system for WebAPI and general help<br />
    Integrated Oauth alongside ASP.Net Uder Identity system for side by side access<br />
    Added controller classes into LicenseUsageAPI controller for Test, TestAuth and SubmitLicenseUsage actions<br />
    Modified Index, DataUsageReport, DailyUsageReport and InvalidCustomers methods in DataMetering controller to obtain recent data from cache tables rather than running live SQL query<br />
    CSS - Tech Data type styling applied to top and side menus including cleanup and redesign of menu layouts, this includes login area and references<br />
    Added in scaffaolding for LicenseUsage controller and Index view<br />
    Modified view format and associated CSS to align with Tech Data colour scheme, this includes slight modifications to fix UI usability issues<br />
    log4net Nuget package added for logging including modification to Global.asax.cs and Web.config to setup log4net<br />
    Added in functions into Manage controller to allow log4net testing and dashboard for 'diagnostics and logging' review<br />
    New view pages added to support new controller functions, DiagnosticsLogging and Testing<br />
    Changed Index view of AssetReg to match side navbar layout of DataMetering view schema<br />
    Fixed date iteration within jQuery for CanvasJS charts display within partial views<br />
    Update graph resolution on DailyCustomerUsage view and associated controller function to show hourly data<br />
    Added in JS dependencies for Autocomplete in _LayoutAssetReg view<br />
    Removed requirement for Serial Number when creating a Virtual asset in AssetReg<br />
    Updated all references to CRUD to AssetReg in AssetRegController<br />
    Added in jQuery 1.8.x extension to Index view of AssetReg for menu dropdown functionality<br />
    Added in Browse Website button at last stage of Remote Connection functions in GetSelectedRow view<br />
    Modified SearchCustomerData view to remove replica connect buttons in favour of radio check box's and a single onnect button. Javascript logic added to disable connect button untill asset has been selected first<br />
    Added in scaffaolding for DPMetering controller and Index view<br />
    Added in base login to Index controller function in DPMetering controller context to show base stats for backup and replicaton jobs in Veeam<br />
    Added in date conversion login for UTC to Australian timezone conversion for DataMetering in DataUsageReport function in DataMeteringController, commented out as testing showed excessive memory usage, to be moved to SQL for pre processing<br />
    Modified controller core reference to GlobalController in DPMeteringController<br />
    Added in TSQL modifications for all DataMetering stored proceadures and Jobs to convert UTC to Australia/Sydney timezone<br />
    Modified all SQL server connection references in web.config to point to IP source rather than loopback IP 127.0.0.1<br />
    Added in Demo controller and SESCustomerPortal view page.<br />
    Added in master branch of Rainbow JS add-in to the Scripts directory.<br />
    Modified _Layout to include Rainbow JS components and CSS style guides for generic and JS code highlighting.<br />
    Installed Microsoft.Store.PartnerCenter NuGet package into project.<br />
    Added Cloud controller, model and view scaffolding components.<br />
    Migrated controllers for AzureCSP queries from demo project MSCSPAPIDemo, this includes construct from Model and application settings stored in Web.config<br />
    Modified _Layout view to cleanup menu and links displayed, including adding menu for Cloud controller functions.<br />
    Modified reference to localhost (127.0.0.1) in Web.config for Log4Net connectionString entries to point to database server IP address.<br />
    Updated names for all Views and Controller referenced in Cloud context from Azure to MS.<br />
    Corrected loop statements in CurrentInvoice view under Cloud context to correctly parse, AzureUsage, AzureDailyUsage and OfficeUsage information.<br />
    Added in controller and view functions into Cloud context for Domain, ActivityLogs and MicrosoftServiceStatus.<br />
    Modified _Layout to contain new references for View/Controller functions, PartnerCenterActivityLogs, DomainAvailability and MicrosoftServiceStatus.<br />
    Added new functions into CloudController for billing breakdown via subscription, this includes modifications to model contexts<br />
    Updated _Layout to load jQuery javascript library<br />
    Added in model, view, partial view and controller functions to Cloud space for Partner Center to SCM Importer application<br />
    Added in new directory under App_Data, uploads. Uploads use specifically for Partner Center to SCM Importer to store uploaded files.<br />
    Otp.NET NuGet package added for TOTP use against GAuth<br />
    GAuthMFAClient view added along side a function under the Cloud controller<br />
    _Layout modified to contain menu link reference to GAuthMFAClient view<br />
    Added new SQL table called GAuthIdents storing companyName, mfaService, secretKey and tenancyNote<br />
    Removed static references for customerName, secretKey and mfaService, replaced by SQL table as mentioned above<br />
    Moved all ViewBag references in GAuthMFAClient to GAuthMFAClientView Model<br />
    Added in Truncate function in Cloud controller to masquerade secretKey display on GAuthMFAClient view<br />
    Removed Otp.NET NuGet package as generated codes did not align to GAuth generated codes<br />
    Modified GAuthMFAClient controller extensively to manuall calculate TOTP code based on RFC 4226 (https://tools.ietf.org/html/rfc4226) standard<br />
    Added NtpClient to allow communications to NTP servers to get realtime time source<br />
    Added in jQuery function to GAuthMFAClient which shows TOTP code expiration in seconds and performs a page refresh upon countdown completeion to disaplay new TOTP code<br />
    Added in weekRangesInMonth and InRange functions to DPMetering controller<br />
    Modified Index function in DPMetering controller to cater for previous week and month calculations (needs further work)<br />
</code>

<h3>Superceded/Duplicated Items </h3>
<code>
    Add roles into ASP.Net users context, Admin, Reseller, Customer<br />
    User activity logging<br />
    HelpUI integration, replaced by Microsoft.AspNet.WebApi.HelpPage inregration<br />
    ELMAH integration (error management), replaced by log4net integration<br />
</code>