﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TechData Services Web App</h1>
    <p class="lead">This application has been developed using the ASP.NET web framework and incorporates HTML, CSS and JavaScript.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Information</h2>
        <p>You can check the project status page by clicking the below links.</p>
        <p><a class="btn btn-default" href="https://atsservicesrd.atlassian.net/browse/WM-2">Project Status &raquo;</a></p>
        <p><a class="btn btn-default" href="https://bitbucket.org/atsservicesrd/wm-dev">Code Repository &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Whats New</h2>
        <p>All users are now marked as Guest untill an Admin changes their role association</p>
        <p>Customer breakdown per day is supported from the daily reports view in Data Metrics</p>
        <p>Graphing has been added to show data in a visual format rather than table</p>
    </div>
    <div class="col-md-4">
        <h2>Current Issues</h2>
        <p>None to report.</p>
    </div>
</div>